# Dependencies
node_modules
.pnpm-store

# Build
dist
coverage

# Environment
.env
.env.*
!.env.example

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile*
docker-compose*.yml

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# IDE / OS
.vscode
.idea
.DS_Store
Thumbs.db

# Testing
.nyc_output

# Documentation
README.md