# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.
PORT=3005

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=task_management

DATABASE_URL=postgresql://postgres:postgres@db:5432/task_management